#windowshade.show
  #editDetails_modal.modal.noclose.no_windowshade_close.profile_modal.ui-draggable.show(style='display: block; margin-left: -315px;')
    .content
      h2.title Edit your details
      form#details_form.window_form.okform.initialized
        #window_error.oknotice_error(style='display: none;')
        dl.orientation
          dt
            label(for='orientation') Orientation
          dd
            #orientationContainer.inputcontainer.select
              select#orientation(name='orientation', style='display: none;')
                option(selected='') Exploring
                option Straight
                option Gay
                option Bisexual
              #orientation_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 106px;', title='')
                a.chosen-single(tabindex='-1')
                  span Exploring
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.ethnicity
          dt
            label(for='ethnicities') Ethnicity
          dd.checklist
            .column
              label.checkbox(for='ethnicity1')
                input#ethnicity1(type='checkbox', name='ethnicities')
                span.icon
                | Asian
              label.checkbox(for='ethnicity2')
                input#ethnicity2(type='checkbox', name='ethnicities')
                span.icon
                | Middle Eastern
              label.checkbox(for='ethnicity3')
                input#ethnicity3(type='checkbox', name='ethnicities')
                span.icon
                | Black
            .column
              label.checkbox(for='ethnicity4')
                input#ethnicity4(type='checkbox', name='ethnicities')
                span.icon
                | Native American
              label.checkbox(for='ethnicity5')
                input#ethnicity5(type='checkbox', name='ethnicities')
                span.icon
                | Indian
              label.checkbox(for='ethnicity6')
                input#ethnicity6(type='checkbox', name='ethnicities')
                span.icon
                | Pacific Islander
            .column
              label.checkbox(for='ethnicity7')
                input#ethnicity7(type='checkbox', name='ethnicities')
                span.icon
                | Hispanic / Latin
              label.checkbox(for='ethnicity8')
                input#ethnicity8(type='checkbox', name='ethnicities')
                span.icon
                | White
              label.checkbox(for='ethnicity9')
                input#ethnicity9(type='checkbox', name='ethnicities')
                span.icon
                | Other
        dl.selectList.height
          dt
            label(for='feet') Height
          dd
            #feetContainer.inputcontainer.select
              select#feet(name='feet', onchange='Profile.updateHeights("english")', style='display: none;')
                option —
                option 7
                option 6
                option 5
                option 4
                option 3
              #feet_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 72px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
            label.input_separator(for='feet') feet
            #inchesContainer.inputcontainer.select
              select#inches(name='inches', onchange='Profile.updateHeights("english")', style='display: none;')
                option 0
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
                option 9
                option 10
                option 11
              #inches_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 75px;', title='')
                a.chosen-single(tabindex='-1')
                  span 0
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
            label.input_separator(for='inches') inches
            label.input_separator , or
            #centimetersContainer.inputcontainer.input
              input#centimeters(type='text', name='centimeters', maxlength='3', onchange='Profile.updateHeights("metric")', style='width: 30px;')
              span.message.empty(style='height: 0')
              .icon
            label.input_separator(for='centimeters') centimeters
        dl.selectList
          dt
            label(for='bodyType') Body Type
          dd
            #bodyTypeContainer.inputcontainer.select
              select#bodyType(name='bodyType', style='display: none;')
                option(selected='') —
                option Rather not say
                option Thin
                option Overweight
                option Skinny
                option Average
                option Fit
                option Athletic
                option Jacked
                option A little extra
                option Curvy
                option Full figured
                option Used up
              #bodyType_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 138px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.selectList
          dt
            label(for='dietSerious') Diet
          dd
            #dietSeriousContainer.inputcontainer.select
              select#dietSerious(name='dietSerious', style='display: none;')
                option —
                option Mostly
                option Strictly
              #dietSerious_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 98px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
            #dietContainer.inputcontainer.select
              select#diet(name='diet', style='display: none;')
                option —
                option anything
                option halal
                option kosher
                option vegan
                option vegetarian
                option other
              #diet_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 117px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.selectList
          dt
            label(for='smoking') Smokes
          dd
            #smokingContainer.inputcontainer.select
              select#smoking(name='smoking', style='display: none;')
                option(selected='') —
                option Yes
                option Sometimes
                option When drinking
                option Trying to quit
                option No
              #smoking_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 139px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.selectList
          dt
            label(for='drinking') Drinks
          dd
            #drinkingContainer.inputcontainer.select
              select#drinking(name='drinking', style='display: none;')
                option(selected='') —
                option Very often
                option Often
                option Socially
                option Rarely
                option Desperately
                option Not at all
              #drinking_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 124px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.selectList
          dt
            label(for='drug') Drug of Choice
          dd
            #drugContainer.inputcontainer.select
              select#drug(name='drug', style='display: none;')
                optgroup(label='Narcotics')
                  option Heroin
                  option Hydromorphone
                  option Methadone
                  option Morphine
                  option Opium
                  option Oxycodone
                optgroup(label='Stimulants')
                  option Amphetamines
                  option Cocaine
                  option Khat
                  option Methamphetamine
                optgroup(label='Depressants')
                  option Barbiturates
                  option Benzodiazepines
                  option GHB
                  option Rohypnol
                optgroup(label='Hallucinogens')
                  option Ecstasy / MDMA
                  option K2 / Spice
                  option Ketamine
                  option LSD
                  option Peyote & Mescaline
                  option Psilocybin
                  option Marijuana / Cannabis
                  option Steroids
                  option Inhalants
                optgroup(label='Other')
                  option Bath Salts / Designer Cathinones
                  option DXM
                  option Salvia Divinorum
              #drug_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 120px;', title='')
                a.chosen-single(tabindex='-1')
                  span -
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.selectList
          dt
            label(for='religion') Religion
          dd
            #religionContainer.inputcontainer.select
              select#religion(name='religion', style='display: none;')
                option(selected='') —
                option Agnosticism
                option Atheism
                option Christianity
                option Judaism
                option Catholicism
                option Islam
                option Hinduism
                option Buddhism
                option Other
              #religion_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 127px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
            #religionSeriousContainer.inputcontainer.select
              select#religionSerious(name='religionSerious', style='display: none;')
                option(selected='') —
                option and very serious about it
                option and somewhat serious about it
                option but not too serious about it
                option and laughing about it
              #religionSerious_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 226px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.selectList
          dt
            label(for='sign') Sign
          dd
            #signContainer.inputcontainer.select
              select#sign(name='sign', style='display: none;')
                option(selected='') —
                option Aquarius
                option Pisces
                option Aries
                option Taurus
                option Gemini
                option Cancer
                option Leo
                option Virgo
                option Libra
                option Scorpio
                option Sagittarius
                option Capricorn
              #sign_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 118px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
            #sign_statusContainer.inputcontainer.select
              select#sign_status(name='sign_status', style='display: none;')
                option —
                option but it doesn’t matter
                option and it matters a lot
                option and it’s fun to think about
              #sign_status_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 202px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.selectList
          dt
            label(for='educationStatus') Education
          dd
            #educationStatusContainer.inputcontainer.select
              select#educationStatus(name='educationStatus', style='display: none;')
                option(selected='') —
                option Graduated from
                option Working on
                option Dropped out of
              #educationStatus_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 146px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
            #educationLevelContainer.inputcontainer.select
              select#educationLevel(name='educationLevel', style='display: none;')
                option(selected='') —
                option high school
                option two-year college
                option university
                option masters program
                option law school
                option med school
                option Ph.D program
                option space camp
              #educationLevel_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 153px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.selectList
          dt
            label(for='job') Ulmer List Status
          dd
            #ulmerContainer.inputcontainer.select
              select#ulmer(name='ulmer', style='display: none;')
                option(selected='')  —
                option A+
                option A
                option B+
                option B
                option C
                option D
                option Z (What am I doing with my life?!)
        dl.selectList
          dt
            label(for='income') Income
          dd
            #incomeContainer.inputcontainer.select
              select#income(name='income', style='display: none;')
                option(selected='')  —
                option  Rather not say
                option  Less than $20,000
                option  $20,000–$30,000
                option  $30,000–$40,000
                option  $40,000–$50,000
                option  $50,000–$60,000
                option  $60,000–$70,000
                option  $70,000–$80,000
                option  $80,000–$100,000
                option  $100,000–$150,000
                option  $150,000–$250,000
                option  $250,000–$500,000
                option  $500,000–$1,000,000
                option  More than $1,000,000
              #income_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 182px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.status
          dt
            label(for='relationshipStatus') Relationship Status
          dd
            #relationshipStatusContainer.inputcontainer.select.autowidth
              select#relationshipStatus.autowidth(name='relationshipStatus', style='display: none;')
                option(selected='') Its complicated
                option Single
                option Seeing someone
                option Married
                option In an open relationship
              #relationshipStatus_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 185px;', title='')
                a.chosen-single(tabindex='-1')
                  span Its complicated
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.selectlist
          dt
            label(for='monogamous') Relationship Type
          dd
            #monogamyFlexContainer.inputcontainer.select
              select#monogamyFlex(name='monogamyFlex', style='display: none;')
                option —
                option Mostly
                option Strictly
              #monogamyFlex_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 98px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
            #monogamousContainer.inputcontainer.select
              select#monogamous(name='monogamous', style='display: none;')
                option —
                option monogamous
                option non-monogamous
              #monogamous_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 161px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.selectList
          dt
            label(for='childrenQ1') Offspring
          dd
            #childrenQ1Container.inputcontainer.select
              select#childrenQ1(name='children', onchange='Details.toggleChildrenOptions();', style='display: none;')
                option(selected='')  —
                option  Has a kid
                option  Has kids
                option  Doesn’t have kids
              #childrenQ1_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 156px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
            #childrenQ2Container.inputcontainer.select
              select#childrenQ2(name='children2', style='display: none;')
                option(selected='') —
                option Might want kids
                option Wants kids
                option Doesn’t want kids
              #childrenQ2_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 157px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
        dl.selectList
          dt
            label(for='dogs') Pets
          dd
            #dogsContainer.inputcontainer.select
              select#dogs(name='dogs', style='display: none;')
                option(selected='')  —
                option  Has dogs
                option  Likes dogs
                option  Dislikes dogs
              #dogs_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 133px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
            #catsContainer.inputcontainer.select
              select#cats(name='cats', style='display: none;')
                option(selected='')  —
                option  Has cats
                option  Likes cats
                option  Dislikes cats
              #cats_chosen.chosen-container.chosen-container-single.chosen-container-single-nosearch(style='width: 128px;', title='')
                a.chosen-single(tabindex='-1')
                  span —
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input(type='text', autocomplete=false, readonly='')
                  ul.chosen-results
              span.message.empty(style='height: 0')
              .icon
              .buttons.clearfix
        button#save.flatbutton.blue(onclick='Details.save()')
          | Save
        button.flatbutton.silver(onclick='Details.close()')
          | Cancel
