extends ../shared/template
block content
  .row
    .col-xs-12
      .panel.panel-success
        .panel-heading
          h3.panel-title Messages
        .panel-body
          .table-responsive
            table.table.table-hover.table-bordered#messagesTable
              thead
                th From
                th Date
                th Time
                th Subject
              tbody
                each msg in msgs
                  tr(style='background-color:#{msg.isRead ? "lightblue" : "#8C8A8D"}')
                    td: a(href='/users/#{msg.sender.alias}')= msg.sender.alias
                    td= moment(msg.date).format('MM/DD/YYYY')
                    td= moment(msg.date).fromNow()
                    td: a(href='/messages/#{msg._id}')= msg.subject
    .col-xs-12
  .row
    .col-xs-9
      .panel.panel-info
        .panel-heading
          h3.panel-title Date Proposals
        .panel-body
          .table-responsive
            table.table.table-hover.table-bordered#proposalsTable
              thead
                th From
                th Activity
                th Message
              tbody
                each prop in props
                  tr
                    td= sender.senderId
                    td= proposal.activity
                    td: a(href='/messages/#{msg._id}')= (prop.message.slice(0, 20) + '.....')
    .col-xs-3
      .panel.panel-danger
        .panel-heading
          h3.panel-title Winks
        .panel-body
          .table-responsive
            table.table.table-hover.table-bordered#winksTable
              thead
                th From
              tbody
                tr
                  td = wink.sender.alias

block scripts
