.row
  .col-xs-12
    table.table.table-hover
      thead
        th
        th
      tbody
        each profile in profiles
          tr
            td: .search-photo(style='background-image:url(#{profile.profilePhoto});')
            td
              a(href='/users/#{profile.alias}')
                .row: .col-xs-12(style='text-align:left;')= profile.alias
                .row: .col-xs-12(style='text-align:left;') #{profile.sex} #{profile.age} #{profile.location}

